<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Multiple_Choice_Creator.Properties.Settings.mltChoiceConnString"
            connectionString="server=192.168.6.249;user id=kantonio;password=123456;database=kantonio "
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>