<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Multiple_Choice_Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Multiple_Choice_Creator.Properties.Settings.mltChoiceConnString"
            connectionString="server=192.168.6.249;user id=kantonio;password=123456;database=kantonio "
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Multiple_Choice_Creator.Properties.Settings>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="passUser" serializeAs="String">
                <value />
            </setting>
            <setting name="userInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="date" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pdfWithAnsw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="qFontsize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="aFontsize" serializeAs="String">
                <value>13</value>
            </setting>
        </Multiple_Choice_Creator.Properties.Settings>
    </userSettings>
</configuration>